/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
/* universel stylesheet */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
hr {
  border: 1px solid #d1d1d1;
}
/* header menuber style */

body {
  width: 100%;
  background: #e5e5e5;
}
nav {
  position: fixed;
  width: 100%;
  height: 94px;
  background-color: #562eff;
  display: flex;
  justify-content: space-around;
}

.logo-left-site {
  display: flex;
  align-items: center;
}
.logo-left-site img {
  width: 40px;
  height: 50px;
  cursor: pointer;
}

.logo-left-site:hover .idea-logo-text {
  color: aqua;
}

.idea-logo-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.7s;
}
.idea-logo-text:hover {
  color: aqua;
}
/* navber style */
.menuber ul {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuber ul li {
  list-style: none;
}
.menuber ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.7s;
}
.menuber ul li a:hover {
  color: aqua;
}
.profile img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
/* banner section style  */
.banner {
  position: -webkit-sticky;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(104, 232, 255, 0.178),
      rgb(125, 81, 247)
    ),
    url(../images/blogs/leader.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* top player style start  */
.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
.top-blogs {
  border-radius: 0 0 5px 5px;
}
.top-player {
  width: 870px;
  background-color: #ffffff;
  border-radius: 5px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  color: #562eff;
  padding: 33px 33px;
}
.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-img img {
  width: 56px;
  height: 56px;
}
.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px 30px;
}
.item-title {
  padding: 0 16px;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  margin-top: -10px;
}
/* top blog style start  */
.top-blogs {
  width: 870px;
  background-color: #ffffff;
}
.blog-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-img-text {
  display: flex;
  padding: 0 10px 10px;
}

.blog-img img,
.course-img img {
  width: 177px;
  height: 117px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(108, 97, 155);
  transition: 0.2s;
  cursor: pointer;
}
.blog-img img:hover,
.course-img img:hover {
  box-shadow: 1px 1px 10px rgb(48, 28, 102);
}
.blog-text {
  padding-left: 16px;
}
.blog-title {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 10px;
}
.blog-items {
  margin-left: 30px;
}

.blog-deatils {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-deatils a {
  text-decoration: none;
  transition: 0.7s;
}
.blog-deatils a:hover {
  color: red;
}

/* lates course style start  */
.lates-course-container {
  width: 870px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
}
.coursess {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.course {
  padding: 20px 20px;
}

.course-img img {
  width: 224px;
  height: 104px;
}
.course-text {
  font-size: 15px;
  padding: 20px 0;
  color: #1e1e1e;
}
.cours-author {
  padding: 10px 0;
}
.cours-author a {
  text-decoration: none;
  font-size: 14px;
  color: #ed6b4f;
}
.course-text i {
  color: #ffc014;
}
.star {
  display: flex;
  align-items: center;
}
.last-star i {
  font-size: 16px;
  color: #aeaeae;
}
.four-p-five {
  padding: 0 10px;
  font-size: 14px;
  color: #a2a2a2;
}
.reating {
  display: flex;
  justify-content: space-between;
}
.clock {
  background: #ffe4e8;
  border-radius: 15px;
  padding: 5px 20px;
  color: #ed6b4f;
  font-size: 15px;
}
.clock i {
  color: #ed6b4f;
  padding-right: 20px;
  text-align: left;
}

/* // X-Small devices (portrait phones, less than 576px) */

@media screen and (max-width: 576px) {
  nav {
    width: 100%;
    height: 65px;
    background-color: red;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo img {
    width: 20px;
    height: 25px;
    padding: 0 0 0 10px;
  }
  .idea-logo-text {
    padding: 0 1vw;
    margin: 0;
  }
  .idea-logo-text h1 {
    color: #ffe4e8;
    font-size: 4vw;
    padding: 2vh 0;
  }
  .menuber {
    height: 65px;
    display: flex;
    align-items: center;
  }
  .menuber ul li a {
    padding: 5vw 3vw;
    font-size: 3vw;
    font-weight: normal;
  }
  .menu-right-site {
    padding-left: 6vw;
  }
  /* banner section  */
  .banner {
    width: auto;
    height: 480px;
    background-image: linear-gradient(
        to bottom,
        rgba(104, 232, 255, 0.178),
        rgb(125, 81, 247)
      ),
      url(../images/blogs/leader-m.png);
    /* background-image: url(../images/blogs/leader-mobile.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
  /* top player section  */
  .container {
    width: 95%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
  .top-player {
    width: 88%;
  }
  .title {
    text-align: center;
  }
  .img-text {
    flex-direction: column;
  }
  .items {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }

  .heid {
    display: none;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner {
    /* width: 100%; */
    background-image: linear-gradient(
        to bottom,
        rgba(104, 232, 255, 0.178),
        rgb(125, 81, 247)
      ),
      url(../images/blogs/leader-m.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .heid {
    display: none;
  }
}
